@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

p,
h1,
h2,
a {
    font-family: 'Alata', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  /* pointer-events: none; */
  padding-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("view/img/wallpaper.png");
  min-height: 10vh;
  /* display: flex; */
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
  width: 100%;
}

.App-header a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
    /* float: right; */
    display: inline;
    padding: 10px 10px 10px 10px;
}

.App-header a:visited {
    color: black;
}

.App-header a:hover {
    color: red;
}

.App-link {
  color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainPage {
    padding-top: 50px;
}

.ReportPage {
    padding-top: 50px;
}

.centerMe {
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 50px;
    width: 100%;
    height: 500px;
    background: #f9a960;
    padding: 30px;
}

.infoDiv {
    width: 100%;
    height: 500px;
    background: #f9a960;
    padding: 30px;
}

.registerDiv {
    width: 100%;
    height: 500px;
    background: #f9a960;
    padding: 30px;
}


.editButton {
    text-decoration: none;
    border-radius: 25px;
    padding: 10px;
    color: black;
    border: 2px solid black;
    background-color: #e7e7e7;
}

.pricebutton {
    text-decoration: none;
    border-radius: 25px;
    padding: 10px;
    color: black;
    border: 2px solid black;
    background-color: #e7e7e7;
    margin: 70px;
}

textarea {
    border: 1px solid black;
    height: 457px;
    width: 938px;
}

.bigCookieHolder {
  display: flex; /* equal height of the children */
}

.cookieHolder {
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border: solid;
  margin: 10px 10px;

    float: left;
}

.cookieHolder img {
    width:  200px;
    height: 200px;
    object-fit: cover;
    background-size: cover;
}


.graphDiv {
    height: 600;
    width: 550px;
}

.buyHolder {
    background-color: rgba(214, 171, 111, 0.8);
    padding: 10px;
}
